header{
    display: flex;
    flex-direction:row;
    justify-content:space-evenly;
    align-items: center;
    
}
#normal{
    height: 40px;
    width:350px;
    color: #FC5B62;
    font-family:monospace;
    font-size: 30px;
    background-color: white;
    
  
}
#navbar{
    width: 500px;
    height:30px;
    background-color:white;
    display: flex;
    flex-direction:row;
    justify-content:space-evenly;
    align-items: center;
    
    
}
a{
    text-decoration: none;
    color:black ;
    font-size: 11px;
    
}
li{
    list-style-type: none;
    display: inline-block;

    
}

#main{
    width: 1500px;
    height: 617px;
    background-image:url("/assets/houseboat.jpg");
    background-size: cover;
    font-size: 30px;
    text-align:start;
    color:rgb(230, 224, 224);   
}
pre{
    
    padding-top: 300px;
    padding-right:500px;
    height: 5px;
}

#button{
    width: 90px;
    height: 30px;
    flex-shrink: 0;
    border-radius: 6px;
    background: #FC5B62;
    color: white;
    margin-left: 180px;
}
#next{
text-align: end;
}
#dot{
    text-align: center;
    
}
#nomads{
    
    width:1200px;
    height: 400px;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
   
    
}
#manyak{
    width: 709px;
    height: 294px;
    top: 766px;
    left: 119px;
    margin-left: 50px;
    padding: 50px;


   
}
#play{
    width: 50px;
    height: 50px;
    top: 866px;
    left: 426px;
    position:absolute; 
    align-self: center;
    /* padding-right: 100px; */
    /* margin-right: 30px; */
}
#text{
    height: 300px;
    width:400px;
    margin-left: 30px;
    padding-top: 30px;
}
h2{
    color: rgba(252, 91, 98, 0.75);
    font-family: Poppins;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    width: 390px;
   
}
 #para{
    color: #000;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal; 

}
h1{
    text-align: center;

}
#underline{
    width: 79px;
    height: 4px;
    background-color: #FC5B62;
    align-self: center;
}
#parag{
    font-size: 12px;
    text-align: center; 
    color:#000000;
    
}

#palaces{
    width:1200px;
    height:600px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items:center ;
   
    /* background-color: red; */
}
#centralasia{
    width: 344px;
    height: 192px;
    left: 124px;
    display: inline-block;
    border-radius: 10px;
    background-image: url(/assets/centralasia.png);
    background-size: cover;
    text-align:center;
    align-self: flex-start;
    color: white;
    


 }
 #southeast{
    width: 465px;
    height: 296px;
    top: 1352px;
    left: 488px;
    display: inline-block;
    border-radius: 10px;
    background-image: url(/assets/southeastasia.png);
    background-size: cover;
    text-align:center;
    color: white;


 }
 #middle{
    width: 344px;
    height: 192px;
    top: 1352px;
    left: 975px;
    display: inline-block;
    border-radius: 10px;
    background-image: url(/assets/middleeast.png);
    background-size: cover;
    text-align:center;
    align-self: flex-start;
    color: white;



 }
 #southeurope{
    width: 344px;
    height: 192px;
    top: 1563px;
    left: 973px;
    display: inline-block;
    border-radius: 10px;
    background-image: url(/assets/southeurope.png);
    background-size: cover;
    text-align:center;
    align-self: flex-start;
    color: white;



 }
 #turkey{
    width: 344px;
    height: 192px;
    top: 1775px;
    left: 973px;
    display: inline-block;
    border-radius: 10px;
    background-image: url(/assets/turkey.png);
    background-size: cover;
    text-align:center;
    color: white;



 }
 #northafrica{
    width: 466px;
    height: 296px;
    top: 1670px;
    left: 487px;
    display: inline-block;
    border-radius: 10px;
    background-image: url(/assets/northafricaandshahara.png);
    background-size: cover;
    text-align:center;
    color: white;
    



 }
 #northeurope{
    width: 344px;
    height: 192px;
    top: 1563px;
    left: 124px;
    display: inline-block;
    border-radius: 10px;
    background-image: url(/assets/northeurope.png);
    background-size: cover;
    text-align:center;
    align-self: flex-start;
    color: white;



 }
 #sahel{
    width: 344px;
    height: 192px;
    top: 1775px;
    left: 123px;
    display: inline-block;
    border-radius: 10px;
    background-image: url(/assets/sahel.png);
    background-size: cover;
    text-align:center;
    color: white;
    


 }